# Advanced environment customization with configuration files (.ebextensions)
# docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html
# ===========================================================================


# Container Commands
container_commands:
  1-Migrate-DB:
    command: "source /var/app/venv/*/bin/activate; python manage.py migrate"
    leader_only: true

  2-Collect-Static-Files:
    command: "source /var/app/venv/*/bin/activate; python manage.py collectstatic --clear --no-input"


# Option Settings
# docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions-optionsettings.html
# -------------------------------------------------------------------------------
option_settings:

  # Python-Platform Specific Options
  # docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-python
  # ---------------------------------------------------------------------------------------------------

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings
      # Specifies which settings file to use
    DJANGO_CONFIGURATION: Default
      # Specifies which configuration class to use

  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi
      # The file that contains the WSGI application.
      # This file must have an application callable.

    NumProcesses: 1
      # The number of daemon processes that should be started
      # for the process group when running WSGI applications

    NumThreads: 15
      # The number of threads to be created to handle requests
      # in each daemon process within the process group
      # when running WSGI applications

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
      # Set the proxy to use on your environment's instances


  # Static Files
  # docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html
  # docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html#environment-cfg-staticfiles.namespace
  # ---------------------------------------------------------------------------------------------------
  
  # On the Python and Ruby platforms,
  # Elastic Beanstalk configures some static file folders by default

  # start the path with a slash (/)
  # specify a directory name in the root of your application's source code;
  # don't start it with a slash
  
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-container.html
  # By default, the proxy server in a Python environment serves
  # any files in a folder named static at the /static path
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: .staticfiles


# Packages
# --------
packages:
  yum:
    gcc-c++: []

    git: []

    # github.com/aws/elastic-beanstalk-roadmap/issues/161#issuecomment-848021239
    mariadb-devel: []
    # mysql-devel: []
      # using mariadb-devel instead
      # (mysql-devel encounters AWS EB deployment error)

    # postgresql-devel: []
      # already installed by default on AWS EB servers
